.title {
  text-align: center;
  height: 150px;
  line-height: 150px;
  color: #fff;
  font-size: 20px;
}

.travel {
  height: 200px;
  width: 200px;
  color: #000;
  background-color: #fff;
  list-style: none;
  border-radius: 5px;
}

.travel-list {
  width: 80%;
  padding: 0;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.travel-image {
  width: 180px;
  height: 130px;
  margin: 10px;
}

.travel-title {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.add-icon {
  width: 50px;
  height: 50px;
  margin: 75px;
}
