<div class="candidate-detail">
    <div class="candidate-images">
      <img class="candidate-image" src="../../assets/images/okinawa.jpg" />
      <img class="candidate-image" src="../../assets/images/okinawa.jpg" />
      <div class="candidate-image" id="candidate-image-add-icon">
        <img class="add-icon" src="../../assets/images/plusicon.png" />
      </div>
     
    </div>
    <div class="candidate-info">
      <div class="candidate-info-title">A.沖縄</div>
      <div class="candidate-info-contents">
        <div class="candidate-info-content">
          <span>ポイント：　海がきれい</span>
        </div>
        <div class="candidate-info-content">
          <span>旅費：　30000～50000円</span>
        </div>
        <div class="candidate-info-content">
          <span>宿泊先：　沖縄ホテル</span>
        </div>
        <div class="candidate-info-content">
          <span>遊ぶ場所：　美ら海水族館</span>
        </div>
        <div class="candidate-info-content"><span>その他：　成田集合</span></div>
      </div>
    </div>
    <div class="candidate-actions">
        <div class="candidate-buttons">
        <button type="submit" id="save-button" (click)="toCandidateDetail()">SAVE</button>
        <button type="submit" id="cancel-button" (click)="toCandidateDetail()">CANCEL</button>
    </div>
    </div>
  </div>
  