<div class="candidate-detail">
  <div class="candidate-images">
    <img class="candidate-image" src="../../assets/images/okinawa.jpg" />
    <img class="candidate-image" src="../../assets/images/okinawa.jpg" />
    <img class="candidate-image" src="../../assets/images/okinawa.jpg" />
  </div>
  <div class="candidate-info">
    <div class="candidate-info-title">A.沖縄</div>
    <div class="candidate-info-contents">
      <div class="candidate-info-content">
        <span>ポイント：　海がきれい</span>
      </div>
      <div class="candidate-info-content">
        <span>旅費：　30000～50000円</span>
      </div>
      <div class="candidate-info-content">
        <span>宿泊先：　沖縄ホテル</span>
      </div>
      <div class="candidate-info-content">
        <span>遊ぶ場所：　美ら海水族館</span>
      </div>
      <div class="candidate-info-content"><span>その他：　成田集合</span></div>
    </div>
  </div>
  <div class="candidate-actions">
    <div class="candidate-detail-close">
      <img
        class="close-icon"
        src="../../assets/images/cancelicon.png"
        (click)="toCandidateList()"
      />
    </div>
    <div class="candidate-detail-edit">
      <button
        class="candidate-detail-edit-button"
        type="submit"
        (click)="toCandidateEdit()"
      >
        EDIT
      </button>
    </div>
  </div>
</div>
