<div class="title">旅行を登録しましょう</div>

<form class="travel-register">
  <div class="travel-register-content">
    <div class="travel-register-labels">
      <label class="travel-register-label-row">タイトル：</label><br />
      <label class="travel-register-label-row">日付：</label><br />
      <label class="travel-register-label-row">画像：</label>
    </div>
    <div class="travel-register-inputs">
      <div class="travel-register-input-row">
        <input />
      </div>
      <div class="travel-register-input-row"><input />～<input /><br /></div>
      <div class="travel-register-input-image">
        <img class="add-icon" src="../../assets/images/plusicon.png" />
      </div>
    </div>
  </div>
  <div class="travel-register-footer">
    <div class="travel-register-buttons">
      <button type="submit" id="save-button">SAVE</button>
      <button type="submit" id="cancel-button">CANCEL</button>
    </div>
  </div>
</form>
