<div class="overlay">
    <div class="modal">
        <div class="header">
            <div class="close_button">
                <input id="close_button" type="button" value="close" (click)="onClick($event)">
            </div>
        </div>
        <div class="contents">
            <div class="forms">
                <div class="inputs">
                    <div class="input">
                        <input id="user_id" class="loginform">
                    </div>
                    <div class="input">
                        <input id="password" class="loginform">
                    </div>
                </div>
                <div class="loginbutton" (click)="toTravelSelect()">Login</div>
            </div>
        </div>
    </div>
  </div>