<div class="all" layout="row">
  <app-navibar fxFlex="15"></app-navibar>
  <div class="contents" fxFlex="85">
    <div class="title">ランキング（全体）</div>
    <div class="ranking">
      <div class="ranking-part">
        <div class="ranking-blank-second"></div>
        <div class="ranking-info">
          <div class="candidate-title">沖縄</div>
          <img class="candidate-image" src="../../assets/images/okinawa.jpg" />
          <div class="candidate-title">3pt</div>
        </div>
        <div class="ranking-stand-second"><p class="ranking-stand-number">2</p></div>
      </div>
      <div class="ranking-part">
        <div class="ranking-blank-first"></div>
        <div class="ranking-info">
          <div class="candidate-title">沖縄</div>
          <img class="candidate-image" src="../../assets/images/okinawa.jpg" />
          <div class="candidate-title">3pt</div>
        </div>
        <div class="ranking-stand-first"><p class="ranking-stand-number">1</p></div>
      </div>
      <div class="ranking-part">
        <div class="ranking-blank-third"></div>
        <div class="ranking-info">
          <div class="candidate-title">沖縄</div>
          <img class="candidate-image" src="../../assets/images/okinawa.jpg" />
          <div class="candidate-title">3pt</div>
        </div>
        <div class="ranking-stand-third"><p class="ranking-stand-number"> 3</p></div>
      </div>
    </div>
  </div>
</div>
