

p.explanatory-text {
    margin: 0;
}
.title {
    text-align: center;
    height: 150px;
    line-height: 150px;
    font-size: 20px;
}


.explanation {
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 20px auto;
}

.explanatory-block {
    width: 28%;
    height: 200px;
    margin: 0 auto;
}

.explanatory-image {
    width:100%;
    margin: 0 auto;
}

.navigations {
    width: 50%;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
}

.navigaton {
    float: left;
    width: 50%;
    text-align: center;
}

.resetbuttonstyle {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer; 
}