<div class="content">
    <div class="title">旅行の行先を決めましょう！</div>
        <div class="explanation">
            <div class = "explanatory-block">
                <p class="explanatory-text">１．みんなで行先候補を登録</p>>
                <img class="explanatory-image" src="../assets/images/list.png" />
            </div>
            <div class = "explanatory-block">
                <p class="explanatory-text">２．行先を多数決で決める</p>>
                <img class="explanatory-image" src="../assets/images/schedule.png" />
            </div>
            <div class = "explanatory-block">
                <p class="explanatory-text">３．予定を決める</p>>
                <img class="explanatory-image" src="../assets/images/ranking.png" />
            </div>
        </div>
    <div class="navigations">
        <div class="navigaton"> 
            <nav><a routerLink="/login">Register</a></nav>
        </div>  
        <div class="navigaton">  
            <nav><a routerLink="/login">Login</a></nav>
        </div> 
    </div>
</div>